h1{
    text-align: Center;
    color:black;
    background-color: aqua;
}
div{
    display: grid;
    place-items: Center;
    color: blue;
}
.form{
padding: 10px;
border-radius: 5px;
box-shadow: 0px 10px 40px 0px;
}
.container{
    background-color: rgb(234, 216, 234);
}
.button{
    text-align: center;
    color:blueviolet
}