
<div>
    <h1>Login Form</h1>

    <form [formGroup]="loginForm" >

       Unique user id<input name="id"  placeholder="Enter your user id" formControlName="id">
        <div class="span" *ngIf="id && id?.errors?.['minlength'] && id?.touched"> Enter your User Id</div>
        
        <br/>

        Username <input name="uname" placeholder="Enter your username"  formControlName="uname"/>
        <div class = "span" *ngIf="uname && uname?.errors?.['minlength'] && uname?.touched">Enter your username</div>
        <br/>

        Password <input name="pword"  placeholder="Enter your password" formControlName="pword"/>
        <div class = "span" *ngIf="pword && pword?.errors?.['minlength'] && pword?.touched">
            Enter your password</div>
        <br/>
        <button>Login</button>
    </form>
    
</div>